# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:

•Python
•R
•SQL
•Java
•Julia
•Scala
•JavaScript
•Swift

## Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.Java
5.Julia
6.Scala

## Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib

## Data Science tools

In [4]:
# import module
from tabulate import tabulate

#assign data
mydata = [
    ["RStudio"],
    ["Apache Spark"],
    ["TensorFlow"]
]

#CREATE HEADER
head = ["Data Science Tools"]

#display table
print(tabulate(mydata, headers=head, tablefmt='grid'))

+----------------------+
| Data Science Tools   |
+======================+
| RStudio              |
+----------------------+
| Apache Spark         |
+----------------------+
| TensorFlow           |
+----------------------+

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author 
Nagaraj